NODE_ENV=production
PORT=8080
BACKEND_URL="http://localhost:8080"

DB_HOST="localhost"
DB_NAME="whatsapp_sticket_manager"
DB_USER="postgres"
DB_PASS="postgres"
DB_PORT=5432

BUCKET_NAME="ws-stickers"
MINIO_END_POINT="minio"
MINIO_PORT=9000
MINIO_USER="minioadmin"
MINIO_PASSWORD="minioadmin"

AUTH_SECRET=HWpcnLhgCmxDjKgDquxFneI6CCcWPOFS
